* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.genre-filter {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}
.genre-buttons {
    display: flex;
    gap: 7px;
    
}
.genre-buttons button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    width: 70px;
    background-color: #d7d7d7;
}


/* styles.css */
.movie-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
  }
  
  .movie-table th, .movie-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .movie-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .movie-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .movie-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  